<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{cliente/fragments/layout}">

<head>

  <title>Finalizar Compra</title>

</head>

<body>

  <!-- Page Content -->
  <div class="container" layout:fragment="corpo">

    <div class="row">
      <div class="col-12">
        <h1>Inf do cliente</h1>
      </div>

      <div class="col-6">
        <select class="form-control">
          <option value="Cartão de crédito">Cartão de crédito</option>
          <option value="Cartão de débito">Cartão de débito</option>
          <option value="Boleto">Boleto</option>
          <option value="Transferência">Transferência</option>
        </select>
      </div>

      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Produto</th>
              <th scope="col">Estoque</th>
              <th scope="col" class="text-center">Quantidade</th>
              <th scope="col" class="text-right">Preço</th>
              <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${listaItens}">
              <td ><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td th:text="${item.produto.descricao}"></td>
              <td>In stock</td>
              <td ><span th:text="${item.quantidade}"></span>
              </td>
              <td class="text-right" th:text="${item.valorTotal}"></td>

              <td class="text-right">

              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Produtos Total</td>
              <td class="text-right" th:text="${compra.valorTotal}"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Frete</td>
              <td class="text-right">0,00</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong><span class="text-right" th:text="${compra.valorTotal}"></span></strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button class="btn btn-lg btn-block btn-success text-uppercase">Comprar</button>
          </div>
        </div>
      </div>







    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



</body>

</html>
